version: '2'
services:
  node:
    image: node:latest
    command: bash -c "npm install && node index.js"
    working_dir: /app
    links:
      - db
    volumes:
      - ..:/app
    ports:
      - 8082:8082
    environment:
      - DB=db
      - DB_PORT=27017
  db:
    image: mongo
    ports:
      - 27017